<!-- the main page where-->
{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <html>
    <a href = "" class="btn btn-primary  float-right mb-3 ml-3">Add Component</a>
  <table class="table table-bordered ">
      <tr>
        <td>Name</td>
        <td>Reusability </td>
        <td>Level of Finishing</td>
       <td> Availability</td>
       <td>Category</td>
       <td>Quantity</td>
       <td>Action</td>
       <!-- <td class="ml-4">
        
                    <a class="btn btn-xs btn-default text-primary mx-1 shadow btn-inline" title="Edit " href  = "">
                       <i class="fa fa-lg fa-fw fa-eye"></i>
                   </a>
          <a class="btn btn-xs btn-default text-primary mx-1 shadow btn-inline" title="Edit " href = "">
                   <i class="fa fa-lg fa-fw fa-pen"></i>
           </a>        

           <a class="btn btn-xs btn-default text-danger mx-1 shadow btn-inline" title="Delete" href = "">
                     <i class="fa fa-lg fa-fw fa-trash"></i>
           </a>
          
            
         </td>
!-->
      </tr>
    </table>
    </html>
    
  {% endblock content %}        
   
